<launch>
  <!-- vive_pose_node to get transform from lighthouse to tracker -->
  <node pkg="vive_tracker_loc" name="vive_pose_node" type="vive_pose_node" />
  
  <!-- tf_calibration sets the location of the lighthouse relative to the base of sawyer -->
  <node pkg="vive_tracker_loc" name="tf_calibration" type="tf_calibration.py" />

  <!-- rviz to visualize sawyer and the lighthouse/tracker setup -->
  <node pkg="rviz" name="rviz" type="rviz" />

</launch>
